# ==========================================================
# Project : Sridevi Enterprises
# Purpose : Git Ignore
# Author  : Srikar
# ==========================================================

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# Flask
instance/
*.db

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Uploaded Files
static/uploads/

# Python Cache
.pytest_cache/
.mypy_cache/

# Build
dist/
build/
