<!--
==========================================================
Project : Sridevi Enterprises
File    : base.html
Purpose : Base Template for All Pages

Author  : Srikar
==========================================================
-->

<!DOCTYPE html>

<html>
<!-- =====================================================
     Header
====================================================== -->

<head>

    Bootstrap

    Fonts

    Icons

    CSS

</head>

<body>

    Navbar

    Flash Messages

    {% block content %}

    {% endblock %}

    Footer

    Bootstrap JS

    Common JS

</body>

</html>
